services:
  telegram-bot:
    build: .
    container_name: video-downloader-telegram-bot
    volumes:
      - ./downloads:/downloads
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - DOWNLOADS_DIR=/downloads
    restart: unless-stopped
